## 1.5 Values and Types

Multiple types of data:
* Integers
* Floats
* Strings
* Booleans
* NULL

<b>Type</b> - the kind of value of the data that we're using. Values can belong to a type of data.

In [1]:
# Python type function

type(2)

int

In [2]:
type(2.4)

float

In [3]:
type(True)

bool

In [4]:
type("Elijah's haircut")

str

In [5]:
int(42.9)

42

In [6]:
float(42)

42.0

In [7]:
str(42)

'42'

In [8]:
'42' + '5'

'425'

In [9]:
'126' / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
int('126') / 3

42.0

In [ ]:
age = input("Please enter your age: ")
# All data collected from an input statement is always a string
birthYear = 2025 - age
print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [12]:
age = int(input("Please enter your age: "))
# All data collected from an input statement is always a string
birthYear = 2025 - age
print(birthYear)

2008

In [13]:
1,000,000

(1, 0, 0)

In [14]:
1000000

1000000

In [15]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [16]:
1024

1024

In [17]:
round(42.5)

42

## 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

1. How many seconds are there in 42 minutes 42 seconds?
2. How many miles are there in 10 kilometers? HINT: There are 1.61 kilometers in a single mile.
3. If you run a 10 kilometer race in 42 minutes, 42 seconds, what is your average pace in seconds per mile?
4. What is your average pace in minutes and seconds per mile?
5. What is your average speed in miles per hour?

In [27]:
# Question 1
seconds = 42 * 60
tot_secs = seconds + 42
print(str(tot_secs) + " seconds in 42 minutes and 42 seconds.")

2562 seconds in 42 minutes and 42 seconds.

In [36]:
# Question 2
miles = round(10/1.61, 2)

print(miles)

6.21

In [37]:
# Question 3
secsPerMile = tot_secs / miles

print(round(secsPerMile, 2), "seconds per mile")

412.56 seconds per mile

In [33]:
# Question 4
avg_pace = secsPerMile / 60

print(round(avg_pace, 2), "minutes is the pace per mile.")

6.87 minutes is the pace per mile.

In [38]:
# Question 5
avg_mph = (avg_pace / 60)
print(avg_mph)

0.11457833333333335

In [42]:
hours = tot_secs / 3600 # convert total time to hours
avg_speed_mph = miles/hours

print("Average speed in MPH: ", round(avg_speed_mph, 2))

Average speed in MPH:  8.73